.intro {
  position: relative; }

.intro-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5; }

.intro-page {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: translate(0, 0);
  transition: transform 0.4s ease-out; }

/* Google Fonts */
.intro-h1 {
  width: 6em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

/* Animation */
.intro-animation.is-visible {
  animation: typewriter 1.5s steps(17) 0.5s 1 normal both, blinkTextCursor 500ms steps(17) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 6em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

.intro-p-fade-in.is-visible {
  animation: fadeIn 3s linear 2s both;
  -webkit-animation: fadeIn 2.5s linear 2s both;
  -moz-animation: fadeIn 2.5s linear 2s both;
  -o-animation: fadeIn 2.5s linear 2s both;
  -ms-animation: fadeIn 2.5s linear 2s both; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.leaving {
  position: relative; }

.leaving-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5; }

.leaving-page {
  padding-top: 10%;
  padding-left: 30px;
  flex: 1 0 100%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  transform: translate(0, 0);
  transition: transform 0.4s ease-out; }

.leaving-p {
  text-align: left;
  border-right: 2px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

.leaving-p-fade-in.is-visible {
  animation: fadeIn 1s linear both;
  -webkit-animation: fadeIn 1s linear both;
  -moz-animation: fadeIn 1s linear both;
  -o-animation: fadeIn 1s linear both;
  -ms-animation: fadeIn 1s linear both; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.leaving-animation.is-visible {
  animation: typewriter2 1s steps(17) 1s 1 normal both, blinkTextCursor2 500ms steps(17) 1s 3 normal; }

@keyframes typewriter2 {
  from {
    width: 0; }
  to {
    width: 7em; } }

@keyframes blinkTextCursor2 {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75); }
  50% {
    border-right-color: transparent; }
  100% {
    display: none; } }

.experience {
  position: relative; }

.experience-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5; }

.experience-page {
  padding-top: 10%;
  padding-left: 30px;
  flex: 1 0 100%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  transform: translate(0, 0);
  transition: transform 0.4s ease-out; }

.experience-h1 {
  width: 20em;
  margin: 0 auto;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

.experience-h1-fade-in.is-visible {
  animation: fadeIn 1s linear both;
  -webkit-animation: fadeIn 1s linear both;
  -moz-animation: fadeIn 1s linear both;
  -o-animation: fadeIn 1s linear both;
  -ms-animation: fadeIn 1s linear both; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: white; }

body {
  height: 100%;
  width: 100%;
  user-select: none;
  overflow-y: hidden;
  touch-action: none;
  overscroll-behavior-y: contain; }

/* h1 {
    font-size: calc(2em + 1vw);
    margin: 0; padding: 0;
    text-align: center;
} */
p {
  font-weight: 100;
  font-size: calc(1em + 0.5vw);
  text-align: center; }

#wholepage {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden; }

section, .section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate(0, 0);
  transition: transform 0.4s ease-out;
  margin: 0;
  padding: 0; }

.sectionButtonContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 3vw;
  color: #1e1e1e;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.sectionButtonContainer label, .page_selection label {
  display: inline-flex;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  transition: transform 0.2s;
  margin: 12px 12px;
  padding: 0px;
  box-shadow: 0px 0px 8px rgba(0, 27, 160, 0.8);
  cursor: pointer; }

.sectionButtonContainer label::after, .page_selection label::after {
  content: '';
  display: inline-flex;
  position: relative;
  top: -10px;
  left: -10px;
  padding: 12px; }

.sectionButtonContainer input[type=radio]:checked + label::after, .page_selection input[type=radio]:checked + label::after {
  display: none; }

.sectionButtonContainer input[type=radio]:checked + label, .page_selection input[type=radio]:checked + label {
  transform: scale(2.2);
  transition: transform 0.2s; }

.page_selection {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 2vh;
  left: 40%;
  color: #1e1e1e;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  z-index: 999999; }
